/* Basic styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #7820e4;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.burger-menu {
  display: flex;
  align-items: center;
}

.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.line.open:nth-child(2) {
  opacity: 0;
}

.line.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.navbar-title {
  margin-left: 20px;
  display: flex;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.nav-links.open {
  display: flex;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  text-decoration: underline;
}
.search-bar {
  margin-left: 110px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: white;
  outline: none;
}


.search-icon {
  width: 20px;
  height: 20px;
  color: white;
  
}