body {
  
  padding: 0 20px; /* Add padding to the left and right sides */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove default margin */
  background: white;
  font-family: Arial, sans-serif;
}
  
  .container {
    width: 500px; /* Typical width for a mobile phone */
    height: 580px; /* Typical height for a mobile phone */
     border: 1px solid #a777e3;
     margin-top: 10px;
     border-radius: 5px;
     margin-bottom: 10px;
    padding: 20px; /* Adjust the padding as needed */
    /* background: linear-gradient(to right, #a777e3, #8c5bb2); */

 }

  h1 {
    align-items: center;
  }